.change {
  color: #1b1b25;
  font-size: 14px;
  font-weight: 900;
}
.card-1 {
  background-color: #e9e9ed;
}
.reset {
  font-size: 14px;
  font-weight: 400;
  color: #1b1b25;
}
.new-pwd {
  color: #7d7d89 !important;
  font-size: 12px !important;
}
.btn-2{
  background-color: #0f69af !important;

}

.pwd-text{
  color: #e61e50;
  font-size: 12px;
  font-weight: 500;
}
.eye-1 {
  float: right;
  top: 36px;
  position: relative;
  margin-right: 10px;
  color: gray;
}
.head-3 {
  display: flex;
  flex-wrap: wrap;
}
.head-4 {
  width: 430px;
  margin: 0 auto;
  margin-top: 4%;
  margin-top: 4%;
}
@media (max-width: 425px) {
  .head-4 {
    width: 85%;
  }
}
@media (max-width: 768px) {
  .head-4 {
    width: 88%;
    margin-top: 7%;
  }
}
@media (max-width: 1024px) {
  .head-4 {
    width: 88%;
    margin-top: 7%;
  }
}
.input-p{
  outline:none;
}
.input-p:focus{
  border-bottom: 2px solid #0F69AF;

}

