
.css-12jo7m5{
    color: #2A79B7 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-right: 5px !important;
    padding-left: 5px !important;
    
}
.css-tj5bde-Svg{
    fill: #2A79B7 !important;

}
.css-xb97g8{
    color: white !important;
    border-radius: 25px !important;
    
    background-color: white !important;
}
.css-1rhbuit-multiValue{
    background-color: white !important ;
    border-radius: 25px !important;
    margin-right: 10px !important;
    
    border: 2px solid #2A79B7 !important;
}
.css-319lph-ValueContainer {
    
    background-color: #F8F8FC !important;
}
.css-1s2u09g-control {
    border: 0px !important;
    border-radius: 50px;
    background-color: #F8F8FC !important;
    
 
}
.css-1s2u09g-control:hover {
    background-color: #F8F8FC !important;
 
}

.css-6j8wv5-Input{
    background-color: #F8F8FC !important;
  
}
.css-g1d714-ValueContainer{
    background-color: #F8F8FC !important;

}
.css-tlfecz-indicatorContainer{
  display: none !important;
}
.css-tlfecz-indicatorContainer:focus{
    display: none !important;

}
.css-tlfecz-indicatorContainer:active {
    display: none !important;


    
}
.css-1pahdxg-control,.css-1pahdxg-control:hover,.css-1pahdxg-control:focus{
    border: none !important;
    box-shadow: none !important;
    background-color: #F8F8FC !important ;
}
.css-2613qy-menu{
    background-color: #F8F8FC !important;
    color: black !important;
}
.css-1gtu0rj-indicatorContainer{
    background-color: #F8F8FC !important;
    /* height: 40px !important; */
    border-bottom-right-radius: 8px !important;
    border-top-right-radius: 8px !important;
}
.css-319lph-ValueContainer{
    background-color: #F8F8FC !important;
}
.css-1okebmr-indicatorSeparator{
    display: none !important;
}
.css-g1d714-ValueContainer{
    border-bottom-left-radius: 8px !important;
    border-top-left-radius: 8px !important;
}
.css-1hb7zxy-IndicatorsContainer{
    display: none !important;

}
.css-b62m3t-container{
    background-color: #F8F8FC !important;
}
