.card-3 {
  height: 487px;
  background-color: #e9e9ed;
}
.head-5 {
  display: flex;
  flex-wrap: wrap;
}
.head-6 {
  width: 430px;
  margin: 0 auto;

  margin-top: 5%;
}
@media (max-width: 425px) {
  .head-6 {
    width: 81%;
  }
  
}
@media (max-width: 768px) {
  .head-6 {
    width: 83%;
  }
}
@media (max-width: 1024px) {
  .head-6 {
    width: 83%;
  }
}
