.toggle-checkbox1:checked {
    @apply: right-0 
      border-[#0F69AF];
    right: 0;
    border-color: #0f69af;
  }
  .toggle-checkbox1:checked + .toggle-label1 {
    @apply: bg-[#0F69AF];
    background-color: #0f69af;
  }
  